<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
	<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />  
  </configSections>
  <log4net>
	  <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date %-5level %logger - %message%newline" />
		  </layout>
	  </appender>
	  <appender name="FileAppender" type="log4net.Appender.RollingFileAppender">
		  <file value="app.log" />
		  <appendToFile value="true" />
		  <rollingStyle value="Size" />
		  <maxSizeRollBackups value="5" />
		  <maximumFileSize value="10MB" />
		  <staticLogFileName value="true" />
		  <layout type="log4net.Layout.PatternLayout">
			  <conversionPattern value="%date [%thread] %-5level %logger - %message%newline" />
		  </layout>
	  </appender>
	  <root>
		  <level value="DEBUG" />
		  <appender-ref ref="ConsoleAppender" />
		  <appender-ref ref="FileAppender" />
	  </root>
  </log4net>	
  <appSettings file="appSettings.Local.config" />
	
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
	
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
	<connectionStrings configSource="connectionStrings.Local.config" />
  <system.serviceModel>
    <behaviors>
      <serviceBehaviors>
        <behavior name="mexBehavior">
          <serviceMetadata httpGetEnabled="true" />
          <serviceDebug includeExceptionDetailInFaults="true" />
        </behavior>
      </serviceBehaviors>
    </behaviors>
	<bindings>
		<netTcpBinding>
			<binding>
				<security mode="None" />
			</binding>
			<binding name="DuplexBindingConfig">
				<security mode="None" />
			</binding>
		</netTcpBinding>
	</bindings>  
    <services>
      <service behaviorConfiguration="mexBehavior" name="Services.Contracts.ServiceContracts.Services.AuthenticationService">
        <endpoint address="Services" binding="netTcpBinding" contract="Services.Contracts.ServiceContracts.Managers.IAuthenticationManager" />
        <host>
          <baseAddresses>
            <add baseAddress="http://localhost:9047" />
            <add baseAddress="net.tcp://localhost:9048" />
          </baseAddresses>
        </host>
	  </service>	
	  <service behaviorConfiguration="mexBehavior" name="Services.Contracts.ServiceContracts.Services.UserService">
		  <endpoint address="Services" binding="netTcpBinding" contract="Services.Contracts.ServiceContracts.Managers.IUserManager" />
		  <host>
			  <baseAddresses>
				  <add baseAddress="http://localhost:9049" />
				  <add baseAddress="net.tcp://localhost:9050" />
			  </baseAddresses>
		  </host>
	  </service>
		<service behaviorConfiguration="mexBehavior" name="Services.FriendService">
			<endpoint address="Services" binding="netTcpBinding" bindingConfiguration="DuplexBindingConfig" contract="Services.IFriendManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:9051" />
					<add baseAddress="net.tcp://localhost:9052" />
				</baseAddresses>
			</host>
		</service>
		<service behaviorConfiguration="mexBehavior" name="Services.Contracts.ServiceContracts.Services.EmailService">
			<endpoint address="Services" binding="netTcpBinding" contract="Services.Contracts.ServiceContracts.Managers.IEmailManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:9053"/>
					<add baseAddress="net.tcp://localhost:9054"/>
				</baseAddresses>
			</host>
		</service>
		<service behaviorConfiguration="mexBehavior" name="Services.Contracts.ServiceContracts.Services.SessionService" >
			<endpoint
				address="SessionService"
				binding="netTcpBinding"
				bindingConfiguration="DuplexBindingConfig"
				contract="Services.Contracts.ServiceContracts.Managers.ISessionManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:9055"/>
					<add baseAddress="net.tcp://localhost:9056"/>
				</baseAddresses>
			</host>
		</service>
		<service behaviorConfiguration="mexBehavior" name="Services.Contracts.ServiceContracts.Services.MatchmakingService" >
			<endpoint
				address="MatchmakingService"
				binding="netTcpBinding"
				bindingConfiguration="DuplexBindingConfig"
				contract="Services.Contracts.ServiceContracts.Managers.IMatchmakingManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:9058"/>
					<add baseAddress="net.tcp://localhost:9059"/>
				</baseAddresses>
			</host>
		</service>
		<service behaviorConfiguration="mexBehavior" name="Services.Contracts.ServiceContracts.Services.LobbyService" >
			<endpoint
				address="LobbyService"
				binding="netTcpBinding"
				bindingConfiguration="DuplexBindingConfig"
				contract="Services.Contracts.ServiceContracts.Managers.ILobbyManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:9061"/>
					<add baseAddress="net.tcp://localhost:9063"/>
				</baseAddresses>
			</host>
		</service>
		<service behaviorConfiguration="mexBehavior" name="Services.Contracts.ServiceContracts.Services.ModerationService">
			<endpoint
				address="ModerationService"
				binding="netTcpBinding"
				bindingConfiguration="DuplexBindingConfig"
				contract="Services.Contracts.ServiceContracts.Managers.IModerationManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:9065"/>
					<add baseAddress="net.tcp://localhost:9066"/>
				</baseAddresses>
			</host>
		</service>
		<service behaviorConfiguration="mexBehavior" name="Services.Contracts.ServiceContracts.Services.MatchService">
			<endpoint
				address="MatchService"
				binding="netTcpBinding"
				bindingConfiguration="DuplexBindingConfig"
				contract="Services.Contracts.ServiceContracts.Managers.IMatchManager" />
			<host>
				<baseAddresses>
					<add baseAddress="http://localhost:9068"/>
					<add baseAddress="net.tcp://localhost:9069"/>
				</baseAddresses>
			</host>
		</service>
	</services>
  </system.serviceModel>
</configuration>