<connectionStrings>
 <add name="codenamesEntities" connectionString="metadata=res://*/codenames.csdl|res://*/codenames.ssdl|res://*/codenames.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=ASUS-292-AHY;initial catalog=codenames;persist security info=True;user id=codenamesPlayer;password=nr_Gixt#7RrXc5da!;multipleactiveresultsets=True;encrypt=True;trustservercertificate=True;application name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
</connectionStrings>